.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: black;
}
.mobile {
    display: none;
}
.judul {
    flex: 1; 
    font-weight: bold;
    color: white;
    margin: 0.78%;
    font-size: 18pt
}
.menu {
    flex: 4; 
}
.menubar {
    list-style-type: none;
}
.menubar li {
    display: inline;
    margin: 5%;
    font-weight: bold;
    color: white;
    font-size: 18pt
}